<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Full Stack developer, living in Madrid, Spain. More than 10 years developing projects under the LAMP stack but currently turning the wonderful and dark side of Javascript. Interested in
                <br>
                <kbd>#Javascript</kbd>, <kbd>#Node.js</kbd>, <kbd>#Vue.js</kbd>,<kbd>#MongoDB</kbd>, <kbd>#MySQL</kbd>, <kbd>#Laravel</kbd>.</p>
            </p>
            <p class="paragraph-text justify-text">
                I spend my free time playing with arduino, riding my motorcycle, or doing CrossFit.
            </p>
        </div>
    </section>
</div>